.header__nav_mobile {
  position: fixed;
  right: 0;
  max-width: 200px;
  width: 100%;
  top: 0;
  bottom: 0;

  transform: translateX(100%);

  background: #fff;
  z-index: 10;

  padding: 30px;
  padding-top: 60px;

  border-left: 1px solid #000;
}
.header__nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.header__nav_item {
}
.header__nav_link {
}

.header__nav_button-close {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 20px;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);

  opacity: 0;
  visibility: hidden;
  z-index: -9;

  transition: opacity 0.2s ease-out;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.overlay.hide {
  opacity: 0;
  visibility: hidden;
  z-index: -9;
}

.showMobMenu {
  animation: showMobMenu 0.2s ease-out forwards;
}

.hideMobMenu {
  animation: hideMobMenu 0.2s ease-out forwards;
}
